POSTGRES_DB=glossaar
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

SPRING_PROFILES_ACTIVE=dev

EKI_API_KEY=ekilex_api_key

# 1. Go here https://github.com/settings/developers
# 2. Create new OAuth app, Homepage url: http://localhost:5173, Authorization callback url: http://localhost:5173/login/oauth2/code/github
# 3. Put the client id and secret here
# Alternatively you can ask Kenert
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# 1. Go here https://console.cloud.google.com/apis/credentials
# 2. Create new OAuth client ID, Application type: Web application, Authorized redirect url: http://localhost:5173/login/oauth2/code/google
# 3. Put the client id and secret here
# Alternatively you can ask Kenert
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=