POSTGRES_DB=glossaar
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

SPRING_PROFILES_ACTIVE=dev

# 1. Go here https://github.com/settings/developers
# 2. Create new OAuth app, Homepage url: http://localhost:5173, Authorization callback url: http://localhost:5173/login/oauth2/code/github
# 3. Put the client id and secret here
# Alternatively you can ask Kenert
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=