# To toggle format-on-save:  Settings → Tools → Actions on Save → Reformat code
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.java]
indent_style = space
indent_size = 4
max_line_length = 120

ij_java_align_multiline_parameters = true
ij_java_align_multiline_parameters_in_calls = true
ij_java_align_multiline_binary_operation = true

ij_java_class_brace_style = end_of_line
ij_java_method_brace_style = end_of_line
ij_java_lambda_brace_style = end_of_line

ij_java_keep_simple_blocks_in_one_line = false
ij_java_keep_simple_methods_in_one_line = false

ij_java_method_parameters_wrap = normal
ij_java_call_parameters_wrap = normal

ij_java_blank_lines_after_package = 1
ij_java_blank_lines_after_imports = 1
ij_java_blank_lines_around_class = 1
ij_java_blank_lines_around_method = 1