POSTGRES_DB=glossaar_db
POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_password

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

SPRING_LOG_LEVEL=
SPRING_SECURITY_LOG_LEVEL=

EKI_API_KEY=
WORDNIK_API_KEY=